In [9]:
import pricing
import model_calibration as model
import options as opt
import yfinance as yf
import numpy as np
import pandas as pd
from scipy.interpolate import griddata
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
# S0 = 100
ticker='AAPL'
S0=yf.download(ticker).iloc[-1]['Adj Close']
K = 250
T = 1
M = 100000
opt_type = 'C'

# Get risk-free rate
rates=model.get_riskfree_rate()
r=rates[str(T*12)]/100

# Get the implied volatility
volatility_surface=model.volatility_surface(ticker)

maturities=volatility_surface['Time to maturity'].values
strikes=volatility_surface['Strikes'].values
volatilities=volatility_surface['Implied volatility'].values

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [45]:
points=np.array([maturities, strikes]).T
IV=griddata(points, volatilities, (T, K), method='linear').item()/100

In [46]:
price=pricing.vanilla_option_price(S0, K, T, r, IV, M, opt_type, antithetic=True)

In [47]:
price

20.14426668326883

In [4]:
v=model.volatility_surface('AAPL')

[*********************100%%**********************]  1 of 1 completed

In [7]:
v

     Time to maturity  Strikes  Implied volatility
0            0.010959    100.0           30.000000
1            0.010959    115.0           30.000000
2            0.010959    130.0           30.000000
3            0.010959    135.0           30.000000
4            0.010959    140.0           30.000000
..                ...      ...                 ...
966          2.139726    410.0           22.814246
967          2.139726    420.0           23.255147
968          2.139726    430.0           23.447591
969          2.139726    440.0           23.560325
970          2.139726    450.0           23.474989

[971 rows x 3 columns]